{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "global-require": "off",
    "import/no-webpack-loader-syntax": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/sort-comp": "off"
  }
}
