{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true,
        "targets": {
          "browsers": ["> 1%"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["emotion/babel"]
}
